*{
  padding: 0;
  margin: 0;
}

body{
  min-height: 100vh;
  background-image: url("images/bg-mobile.svg");
  background-repeat: no-repeat;
  background-color: hsl(257, 40%, 49%);
}

h2{
  font-family: Poppins;
  color: white;
  font-weight: 600;
  margin-bottom: 20px;
}

p{
  font-family: Open Sans;
  color: white;
  margin-bottom: 20px;
}

button{
  background-color: white;
  padding: 1em 5em;
  border-radius: 1.5em;
  font-family: Poppins;
  margin-bottom: 40px;
  border: none;
  color: hsl(257, 40%, 49%);
}

button:active{
  background-color: hsl(300, 69%, 71%);
  color: white;
}

.logo-image-container{
  padding: 2rem 2rem;
  padding-bottom: 3rem;
}


.logo-image{
  width: 42%;
  max-width: 200px;
}

.image-container{
  padding: 0rem 2rem;
  padding-bottom: 40px;
}

.screen{
  width: 100%;
}

.text-container{
  text-align: center;
  padding: 0rem 2rem;
}

footer{
  font-size: 40px;
  display: flex;
  justify-content: center;
  color: white;
  
}

i{
  margin-right: 20px;
}




@media only screen and (min-width:768px){
  body{
    background-image: url("images/bg-desktop.svg");
    position: relative;
  }

  .logo-image-container{
    padding: 2rem 3rem;
    padding-bottom: 4rem;
  }

  .wrapper{
    display: flex;
    margin-bottom: 80px;

  }

  .image-container{
    flex: 1.7;
    padding: 0rem 3rem;
  }

  .screen{
    width: 100%;
  }

  .text-container{
    flex: 1;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  footer{
    justify-content: end;
    color: white;
    position: absolute;
    bottom: 40px;
    right: 20px;
  }
}